.about_page_section{
    width: 90%;
    border-radius: 2rem;
    border: 2px solid green;
}

.about_page_section_2{
    width: 44.5%;
    border-radius: 2rem;
    border: 2px solid green;
}

.about_page_section_3{
    width: 80%;
    border-radius: 2rem;
    border: 2px solid green;
}

.about_page_section_2_space{
    width: 1%;
}

.my_pic_about_me_page{
    height: 50rem;
    border-radius: 50%;
}

.company_and_school_logo_about_me_page{
    height: 10rem;
    border-radius: 50%;
    border: solid 2px gray;
    padding: 1rem;
}

.about_page_table{
    width: 95%;
}

.about_page_font_1{
    font-size: 4rem;
    font-family: Verdana, sans-serif;
}

.about_page_font_2{
    font-size: 4rem;
    font-family: Verdana, sans-serif;
    color: green;
}

.about_page_font_3{
    font-size: 2rem;
    font-family: sans-serif;
}

.about_page_font_4{
    font-size: 1.5rem;
    font-family: Verdana, sans-serif;
}

.about_page_font_5{
    font-family: Georgia;
    font-size: 1.5rem;
    color: #DE3163;
}

.about_page_font_6{
    font-size: 1.2rem;
    font-family: Verdana, sans-serif;
}

.about_page_font_7{
    font-size: 1.5rem;
    font-family: Verdana, sans-serif;
}

.about_page_font_8{
    font-size: 1.5rem;
    font-family: Verdana, sans-serif;
}

.about_page_font_9{
    font-size: 1.5rem;
    font-family: Verdana, sans-serif;
}

.about_page_icon{
    height: 20rem;
    border-radius: 50%;
    border: solid 2px black;
}

.about_page_icon_no_circle{
    height: 20rem;
    border-radius: 50%;
}

.project_page_icon{
    height: 20rem;
    border-radius: 50%;
    border: solid 2px black;
}

.about_page_icon_2{
    height: 8rem;
    border-radius: 50%;
}

.about_page_hr{
    height:.1rem;
    border-width:0;
    width:90%;
    color:green;
    background-color:green
    
}

@media(max-width: 998px){
    .about_page_font_1{
        font-size: 5.8rem;
        font-family: Verdana, sans-serif;
    }
    
    .about_page_font_2{
        font-size: 5.8rem;
        font-family: Verdana, sans-serif;
        color: green;
    }
    
    .about_page_font_3{
        font-size: 2.9rem;
        font-family: sans-serif;
    }
    
    .about_page_font_4{
        font-size: 2.2rem;
        font-family: Verdana, sans-serif;
    }
    
    .about_page_icon{
        height: 28rem;
    }

    .about_page_icon_no_circle{
        height: 28rem;
        border-radius: 50%;
    }
    
    .project_page_icon{
        height: 28rem;
        border-radius: 50%;
        border: solid 2px black;
    }

    .about_page_font_5{
        font-family: Georgia;
        font-size: 2.2rem;
        color: #DE3163;
    }
    
    .about_page_font_6{
        font-size: 1.8rem;
        font-family: Verdana, sans-serif;
    }

    .about_page_font_7{
        font-size: 1.6rem;
        font-family: Verdana, sans-serif;
    }

    .about_page_font_8{
        font-size: 2.1rem;
        font-family: Verdana, sans-serif;
    }

    .about_page_font_9{
        font-size: 1.5rem;
        font-family: Verdana, sans-serif;
    }

    .my_pic_about_me_page{
        height: 80rem;
        border-radius: 50%;
    }
    
    .company_and_school_logo_about_me_page{
        height: 20rem;
        border-radius: 50%;
        padding: 3  rem;
    }
    
}

.mobile_laptop{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 998px){
    .mobile_laptop{
        display: block;
        align-items: center;
        justify-content: center;
    }
}
